.posts {
}

.posts__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 343px);
  grid-template-rows: repeat(auto-fit, 148px);
  place-content: center center;
  gap: 2rem;
}

/* article */

.article {
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 4px #e0e2e2;
  padding: 1rem;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 1rem;
}

.article__photo {
  width: 100%;
  height: 100%;

  object-fit: cover;

  grid-row: 1/3;

  border-radius: 0.5rem;
  vertical-align: middle;
}

.article__title {
  font: var(--title);
  padding-bottom: 1rem;
}

.article__description {
  grid-column: 2;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar__name {
  font: var(--textBold);
  color: var(--black);
}

.time {
  height: 16px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.time__dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: var(--gray);
}

.time__read {
  font: var(--text);
  color: var(--gray);
}

/* loading */
.loading {
  position: relative;
}

.loading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 30%;
  width: 100%;
  background: #d2d2d2;
  border-radius: 2px;
}

.loading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  height: 30%;
  width: 80%;
  background: #d2d2d2;
  border-radius: 2px;
}
